__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log
*.sqlite3
*.db
*.pid
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
node_modules/
*.tmp
*.temp
docker_settings.json
test/
tests/
*.md
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml
build-and-push.sh
